:root {
  --main-text: #212121;
  --button: #2196f3;
  --text-body: #757575;
  --background: #f5f5f5;
  --main: #ffffff;
  --hero-bcg: #2f303a;
  --our-team-bcg: #f5f4fa;
  --logo: #000000;
}

/* body */
body {
  background-color: var(--main);
  color: var(--text-body);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* Значення різних тегів */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* Студия */

/* Header */

.header {
  background-color: var(--main);
  border: 1px solid #EEEEEE;
}
/* Main header */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Лого и Nav */
.logo {
  color: var(--button);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--logo);
}



.site-nav {
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button);
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav {
  padding-left: 93px;
}
/* посилання Студия Портофолио Контакти */
.site-nav .link{
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}
.studio {
  color: var(--main-text);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--button);
}

.portfolio,
.contacts {
  color: var(--main-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Пошта и телефон*/
.cont {
  display: flex;
}
.cont .cont-item + .cont-item {
  margin-left: 50px;
}
.mail:hover,
.mail:focus {
  color: var(--button);
}

.phone:hover,
.phone:focus {
  color: var(--button);
}

.mail {
  color: var(--text-body);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail .link:hover,
.link:focus {
  color: var(--button);
}

.phone {
  color: var(--text-body);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Скрытые заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Hero */
.hero {
  background-color: var(--hero-bcg);
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;

  color: var(--main);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
 
}

.button {
margin-bottom: 200px;
width: 216px;
height: 50px;

  color: var(--main);
  background-color: var(--button);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}

.button:hover ,
.button:focus {
  color: var(--button);
  background-color:var(--button)
}

/* >Наші переваги */

.peculiarity{
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarity .peculiarity-item + .peculiarity-item{
  margin-right: 30px;
}


.peculiarity .peculiarity-item:last-child{
  margin-right: 0;
}



.peculiarity-head {
  margin-bottom: 10px;

  color: var(--main-text);
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarity-text {
  /* font-weight: 400; */
  line-height: 1.71;
}

/* Чим ми займаємось */
.works {
  margin-bottom: 50px;
  color: var(--main-text);
  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works-all{
  display: flex;
}
.works-item{
  margin-right: 30px;
  padding-bottom: 94px;
}
.works-all .works-item:last-child{
  margin-right: 0;
}
/* Наща команда */
.our-team {
  background-color: var(--our-team-bcg);
}

.our-team-name {
  color: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team-work {
  color: var(--text-body);
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer */

.logo-studio-footer {
  color: var(--main);
}
.footer {
  background-color: var(--hero-bcg);
}

.logo-footer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    
}

.address {
margin-top: 20px;
margin-bottom: 60px;
  color: var(--main);
  line-height: 1.71;
  font-style: normal;
}

.address .item:not(:last-child){
    padding-bottom: 9px;
}


.address:hover,
.address:focus {
  color: var(--button);
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--button);
}

.footer-phone:hover,
.footer-phone:focus {
  color: var(--button);
}

/* Портфолио */
.portfolio-all {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Портофолио конпки навігації */
.portfolio-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.portfolio-nav .item + .item {
  margin-left: 8px;
}

.button-portfolio {
  border-radius: 4px;
  border: transparent;

  color: var(--main-text);
  background-color: var(--our-team-bcg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--main);
  background-color: var(--button);
}

.item-title {
  color: var(--main-text);
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.item-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
}

/* Наші роботи */
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  
 

}
.portfolio-item .portfolio-groop {
  width: calc((100%-60px) / 3);
  margin-bottom: 30px;
  
}
.portfolio-item li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

